html, body {
    margin: 0px;
    padding: 0px;
    background-color: #ebeb9d; 
}

#canvas {
    background-color: rgb(255,255,204);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
